@import '../../../../styles/variables';

:host {
  display: grid;
  grid-template-columns: repeat(24, minmax(0, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 0;
  color: @white;
  grid-template-rows: 60px 60px;
  align-items: center;
}
.study-header {
  &__logo {
    grid-column: ~'2/5';
    font-size: @md-text-size;
  }

  &__tools {
    grid-column: ~'10/16';
    font-size: @sm-text-size;
  }

  &__lang {
    grid-column: ~'17/-1';
    font-size: @md-text-size;
  }

  &__tools-link {
    color: grey;
  }

  &__breadcrumbs-wrapper {
    grid-column: ~'1/-1';
    background: white;
    margin: 0 -@indent;
    padding: 0 @indent;
    height: 100%;
  }

}
