<form class="study-course__form" [formGroup]="form" (ngSubmit)="save()">
  <h1  class="study-course__title">{{course?.name}}</h1>

  <div class="study-course__item">
    <label>Title<span>is required</span></label>
    <span class="study-course__error"  *ngIf="title?.invalid && (title?.touched || title?.dirty)">
      <span *ngIf="title.errors?.required">Field is required</span>
      <span *ngIf="title.errors?.maxlength">Max length 5 symbols </span>
    </span>
    <input formControlName="title" type="text" [value]="course?.name" [ngClass]="{ 'error': title?.invalid && (title?.touched || title?.dirty) }"/>
  </div>

  <div class="study-course__item">
    <label>Description <span>is required</span></label>
    <span class="study-course__error"  *ngIf="description?.invalid && (description?.touched || description?.dirty)">
      <span *ngIf="description.errors?.required">Field is required</span>
      <span *ngIf="description.errors?.maxlength">Max length 15 symbols </span>
    </span>
    <textarea formControlName="description" [ngClass]="{ 'error': description?.invalid && (description?.touched || description?.dirty) }" [value]="course?.description" ></textarea>
  </div>

  <div class="study-course__item study-course__item--w250" >
    <label>Duration<span>is required</span></label>
    <span class="study-course__error"  *ngIf="duration?.invalid && (duration?.touched || duration?.dirty)">
      <span *ngIf="duration.errors?.required">Field is required</span>
      <span *ngIf="duration.errors?.pattern">Enter only digits </span>
    </span>
    <input formControlName="duration"
           type="text"
           [ngClass]="{ 'error': duration?.invalid && (duration?.touched || duration?.dirty) }"
           [value]="course?.length" />
  </div>

  <div class="study-course__item study-course__item--w250">
    <label>Date<span>is required</span></label>
    <span class="study-course__error"  *ngIf="date?.invalid && (date?.touched || date?.dirty)">
      <span *ngIf="date.errors?.required">Field is required</span>
      <span *ngIf="date.errors?.pattern">Enter correct date </span>
    </span>
    <input formControlName="date"
           type="text"
           [ngClass]="{ 'error': date?.invalid && (date?.touched || date?.dirty) }"
           [value]="course?.date"/>
  </div>
  <div class="study-course__item study-course__item--w400">
    <label>Author<span>is required</span></label>
    <span class="study-course__error"  *ngIf="author?.invalid && (author?.touched || author?.dirty)">
      <span *ngIf="author.errors?.required">Field is required</span>
      <span *ngIf="author.errors?.invalidAuthor">Fill in at list one author </span>
    </span>
    <input formControlName="author"
           type="text"
           [ngClass]="{ 'error': author?.invalid && (author?.touched || author?.dirty) }"
           [value]="course?.author"/>
  </div>
  <div class="study-course__controls">
    <button (click)="cancel()" class="btn-grey btn-large study-courses__edit-btn">cancel</button>
    <button class="btn-green btn-large study-courses__delete-btn">save</button>
  </div>
</form>

