<h1>{{'LOGIN.CREDENTIALS' | translate}}</h1>
<form [formGroup]="form" class="form">
  <h2>{{'LOGIN.T' | translate}}</h2>
  <div class="form__item">
    <label>{{'LOGIN.EMAIL' | translate}}<span>{{'VALIDATION.REQUIRED' | translate}}</span></label>
    <input type="text" formControlName="login"/>
  </div>
  <div class="form__item">
    <label>{{'LOGIN.PASSWORD' | translate}}<span>{{'VALIDATION.REQUIRED' | translate}}</span></label>
    <input type="password" formControlName="password"/>
  </div>
  <div class="form__item">
    <a>{{'LOGIN.FORGOTPAS' | translate}}</a>
    <button (click)="login()">{{'BUTTONS.LOGIN' | translate | uppercase}}</button>
  </div>
</form>
