<div class="study-course__item">
  <p class="study-course__title">{{course.title}}</p>
  <span class="study-course__info">{{course.duration}} min</span>
  <span class="study-course__info">{{course.creation}}</span>
</div>
<div class="study-course__item">
  <p class="study-course__description">{{course.description}}</p>
  <div>
    <button (click)="edit()" class="btn-blue btn-small study-courses__edit-btn">edit</button>
    <button (click)="delete()" class="btn-blue btn-small study-courses__delete-btn">delete</button>
  </div>
</div>
