<div class="study-course__item">
  <p class="study-course__title">
    {{course.name | uppercase}}
    <img
      *ngIf="course.isTopRated === true"
      class="study-course__img"
      src="../../../../../../assets/icons/star.svg"
    />
  </p>
  <span class="study-course__info">{{course.length | duration}}</span>
  <span class="study-course__info">{{course.date | date}}</span>
</div>
<div class="study-course__item">
  <p class="study-course__description">{{course.description}}</p>
  <div>
    <button (click)="edit()" class="btn-blue btn-small study-courses__edit-btn">edit</button>
    <button (click)="delete()" class="btn-blue btn-small study-courses__delete-btn">delete</button>
  </div>
</div>
